
<section class="banner_section">
</section>
<section class="blog_details">
    <div class="container new_container">
        <div class="row">
            <div class="col-lg-9">
                <div *ngFor="let item of blogdata | keyvalue">
                    <div *ngIf="item.key === 'description'" [innerHTML]="item.value" class="description-content" style="width: 100%;"></div>
                  </div>
            </div>
            <div class="col-lg-3">
                <h2>Featured Trainings</h2>
                <div *ngFor="let training of featuredTraining">
                    <div class="featured-training">
                        <div class="description-content">
                            <img src="{{training.image}}" alt="">
                        </div>
                       
                        <h4>
                            {{training.title}}
                        </h4>
    
                        <div class="button_sect">
                            <button (click)="navigateToForm(training.slug)" class="btn btn-primary">
                                Book Now
                            </button>
                        </div>
    
                      </div>
                    </div>


            </div>
        </div>
    </div>
</section>
<app-contactsection></app-contactsection>
<app-footersection></app-footersection>