.new_container {
    max-width: 1250px;
    padding: 20px;
}
.description-content img {
    width: 100% !important;
}
/*banner content*/
.banner_section {
    background-image: url('/assets/specialization.jpg');
    background-size: cover;
    padding: 20px;
    height: 30vh;
}
.banner_cont {
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    /* border-radius: 25px; */
}
.new_container {
    max-width: 1250px;
}
.banner_section h5 {
    background-color: #FFCC4A;
    color: #000;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 30px;
}

.button_sect button {
    width: 100%;
    background: None;
    border: 2px solid #777;
    color: #000;
    border-radius: 0 !important;
  }
  
  .button_sect button:hover {
    width: 100%;
    background: #5585b5;
    border: 2px solid #5585b5;
    color: #fff
  }

  .featured-training {
    padding: 20px 0px;
  }