<section class="banner_section">
</section>
<section class="list_image_sect">
    <div class="container new_container animated-div" #animatedDiv [@slideIn]="contentLoaded ? 'visible' : 'hidden'">
      <div class="row">
        <div class="col-lg-12" *ngIf="individualTraining == true">
            <div class="training_heading">
              <h5>COMBINED TRAINING</h5>
            </div>
          </div>
          <div class="row" *ngIf="individualTraining == true">
            <ng-container *ngFor="let item of trainings">
                <div class="col-lg-4" *ngIf="item.sub_type === 'combined_training' && item.published == true">
                    <div class="list_images">
                        <img class="fixed-size-image" src="{{item.image}}" alt="">
                        <div class="list_image_content">
                            <h4>{{item.title}}</h4>
                            <p [innerHTML]="item.short_description"></p>
                            <div class="button_sect">
                                <button [routerLink]="['/app-training-detail', item.slug]" class="btn btn-primary">View Training</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="col-lg-12"  *ngIf="individualTraining == true">
            <div class="training_heading">
              <h5>CONTROL SYSTEM TRAINING</h5>
            </div>
          </div>
          <div class="row" *ngIf="individualTraining == true">
            <ng-container *ngFor="let item of trainings">
                <div class="col-lg-4" *ngIf="item.sub_type === 'control_system_training' && item.published == true">
                    <div class="list_images">
                        <img class="fixed-size-image" src="{{item.image}}" alt="">
                        <div class="list_image_content">
                            <h4>{{item.title}}</h4>
                            <p [innerHTML]="item.short_description"></p>
                            <div class="button_sect">
                                <button [routerLink]="['/app-training-detail', item.slug]" class="btn btn-primary">View Training</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
          <div class="col-lg-12" *ngIf="individualTraining == true">
            <div class="training_heading">
              <h5>SPECIALIZED TRAINING</h5>
            </div>
          </div>
          <div class="row" *ngIf="individualTraining == true">
            <ng-container *ngFor="let item of trainings">
                <div class="col-lg-4" *ngIf="item.sub_type === 'specialized_training' && item.published == true">
                    <div class="list_images">
                        <img class="fixed-size-image" src="{{item.image}}" alt="">
                        <div class="list_image_content">
                            <h4>{{item.title}}</h4>
                            <p [innerHTML]="item.short_description"></p>
                            <div class="button_sect">
                                <button [routerLink]="['/app-training-detail', item.slug]" class="btn btn-primary">View Training</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="col-lg-12" *ngIf="academicTraining == true">
            <div class="training_heading">
              <h5>ACADEMIC TRAINING</h5>
            </div>
          </div>
          <div class="row" *ngIf="academicTraining == true">
            <ng-container *ngFor="let item of trainings">
                <div class="col-lg-4" *ngIf="item.published == true">
                    <div class="list_images">
                        <img class="fixed-size-image" src="{{item.image}}" alt="">
                        <div class="list_image_content">
                            <h4>{{item.title}}</h4>
                            <p [innerHTML]="item.short_description"></p>
                            <div class="button_sect">
                                <button [routerLink]="['/app-training-detail', item.slug]" class="btn btn-primary">View Training</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div> 

      </div>
    </div>
  </section>
<app-contactsection></app-contactsection>
<app-footersection></app-footersection>