<section class="card_sect">
    <div class="container">
        <div class="row">
            <div class="top_content">
                <h4>Hello!, Raja</h4>
                <p>Lets learn about the growth today</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card_content bg-c-yellow">
                            <h4>Training</h4>
                            <div class="card_inner_content">
                                    <h6 class="first">Total : 534</h6>
                                    <h6>Completed : 534</h6>
                            </div>
                            <div class="card_inner_content">
                                <h6 class="first">running : 534</h6>
                                <h6>Upcoming : 534</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card_content bg-c-blue">
                            <h4>Marketing</h4>
                            <div class="card_inner_content">
                                    <h6 class="first">Total : 534</h6>
                                    <h6>Enrolled : 534</h6>
                            </div>
                            <div class="card_inner_content">
                                <h6 class="first">Potential : 534</h6>
                                <h6>Non paid : 534</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card_content bg-c-green">
                            <h4>Finance</h4>
                            <div class="card_inner_content">
                                    <h6 class="first">Total : ₹5340</h6>
                                    <h6>Credit : ₹2340</h6>
                            </div>
                            <div class="card_inner_content">
                                <h6 class="first">Debit : ₹5340</h6>
                                <h6>Upcoming : 534</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin_top">
                    <div class="col-md-8">
                        
                        <div class="table_cont">
                            <div class="top_table_cont">
                            <h5>New Enrollment</h5>
                            <button>View more</button>
                            </div>
                            <table class="">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>John Doe</td>
                                        <td>john&#64;example.com</td>
                                        <td>Admin</td>
                                        <td>
                                            <img src="assets/eye.png" alt="">
                                            <img src="assets/edit-2.png" alt="">
                                            <img src="assets/trash.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jane Smith</td>
                                        <td>jane&#64;example.com</td>
                                        <td>User</td>
                                        <td>
                                            <img src="assets/eye.png" alt="">
                                            <img src="assets/edit-2.png" alt="">
                                            <img src="assets/trash.png" alt="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Bob Johnson</td>
                                        <td>bob&#64;example.com</td>
                                        <td>Editor</td>
                                        <td>
                                            <img src="assets/eye.png" alt="">
                                            <img src="assets/edit-2.png" alt="">
                                            <img src="assets/trash.png" alt="">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Blogs - Approval</h4>
                        <div class="card_content bg-c-yellow">
                            <div class="full_content">
                               <div class="left_side">
                                <p>Industrial automation boom nowadays...</p>
                               </div>
                                <div class="right_side">
                                    <!-- Checkbox container -->
                                <label class="checkbox-container">
                                    <input type="checkbox">
                                    <div class="custom-checkbox">
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>  
                        <div class="card_content bg-c-yellow">
                            <div class="full_content">
                               <div class="left_side">
                                <p>Industrial automation boom nowadays...</p>
                               </div>
                                <div class="right_side">
                                    <!-- Checkbox container -->
                                <label class="checkbox-container">
                                    <input type="checkbox">
                                    <div class="custom-checkbox">
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>  
                        <div class="card_content bg-c-yellow">
                            <div class="full_content">
                               <div class="left_side">
                                <p>Industrial automation boom nowadays...</p>
                               </div>
                                <div class="right_side">
                                    <!-- Checkbox container -->
                                <label class="checkbox-container">
                                    <input type="checkbox">
                                    <div class="custom-checkbox">
                                    </div>
                                </label>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="row margin_top">
                    <div class="table_cont">
                        <div class="top_table_cont">
                        <h5>New Enrollment</h5>
                        <button>View more</button>
                        </div>
                        <table class="">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John Doe</td>
                                    <td>john&#64;example.com</td>
                                    <td>Admin</td>
                                    <td>
                                        <img src="assets/eye.png" alt="">
                                        <img src="assets/edit-2.png" alt="">
                                        <img src="assets/trash.png" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jane Smith</td>
                                    <td>jane&#64;example.com</td>
                                    <td>User</td>
                                    <td>
                                        <img src="assets/eye.png" alt="">
                                        <img src="assets/edit-2.png" alt="">
                                        <img src="assets/trash.png" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Bob Johnson</td>
                                    <td>bob&#64;example.com</td>
                                    <td>Editor</td>
                                    <td>
                                        <img src="assets/eye.png" alt="">
                                        <img src="assets/edit-2.png" alt="">
                                        <img src="assets/trash.png" alt="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="right_content">

                    <div class="mt-3">
                        <h4>Staff's Activity</h4>
                        <ul class="list list-inline">
                            <li class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon"></i>
                                    <div class="ml-2">
                                        <h6 class="mb-0">Ongoing Training</h6>
                                        <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">22 May 2020 11:30 PM</span></div>
                                            <div class="ml-3"><i class="fa fa-clock-o"></i><span class="ml-2">6h</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column mr-2">
                                        <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/xbxOs06.jpg" width="30"><img class="rounded-circle" src="https://i.imgur.com/KIJewDa.jpg" width="30"><img class="rounded-circle" src="https://i.imgur.com/wwd9uNI.jpg" width="30"></div><span class="date-time">11/4/2020 12:55</span></div>
                                    <i
                                        class="fa fa-ellipsis-h"></i>
                                </div>
                            </li>
                            <li class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon"></i>
                                    <div class="ml-2">
                                        <h6 class="mb-0">Projects</h6>
                                        <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">25 May 2020 12:34 AM</span></div>
                                            <div class="ml-3"><i class="fa fa-clock-o"></i><span class="ml-2">4h</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column mr-2">
                                        <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/xbxOs06.jpg" width="30"><img class="rounded-circle" src="https://i.imgur.com/wwd9uNI.jpg" width="30"></div><span class="date-time">12/5/2020 12:55</span></div><i class="fa fa-ellipsis-h"></i></div>
                            </li>
                            <li class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon"></i>
                                    <div class="ml-2">
                                        <h6 class="mb-0">Prototyping</h6>
                                        <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">17 May 2020 1:34 PM</span></div>
                                            <div class="ml-3"><i class="fa fa-clock-o"></i><span class="ml-2">6h</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column mr-2">
                                        <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/xbxOs06.jpg" width="30"><img class="rounded-circle" src="https://i.imgur.com/KIJewDa.jpg" width="30"></div><span class="date-time">16/4/2020 1:55</span></div><i class="fa fa-ellipsis-h"></i></div>
                            </li>
                            <li class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center"><i class="fa fa-check-circle checkicon"></i>
                                    <div class="ml-2">
                                        <h6 class="mb-0">Call with client</h6>
                                        <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                            <div><i class="fa fa-calendar-o"></i><span class="ml-2">12 May 2020 12:35 AM</span></div>
                                            <div class="ml-3"><i class="fa fa-clock-o"></i><span class="ml-2">6h</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="d-flex flex-column mr-2">
                                        <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/wwd9uNI.jpg" width="30"></div><span class="date-time">11/4/2020 12:55</span></div><i class="fa fa-ellipsis-h"></i></div>
                            </li>
                        </ul>
                    </div>
                    <h4>Staffs</h4>
                    <div class="list list-row block">
                        <div class="list-item" data-id="19">
                           <div><a href="#" data-abc="true"><span class="w-48 avatar gd-warning">S</span></a></div>
                           <div class="flex">
                              <a href="#" class="item-author text-color" data-abc="true">Sam Kuran</a>
                              <div class="item-except text-muted text-sm h-1x">Training</div>
                           </div>
                           <div class="no-wrap">
                              <div class="item-date text-muted text-sm d-none d-md-block">13/12 18</div>
                           </div>
                        </div>
                        <div class="list-item" data-id="7">
                           <div><a href="#" data-abc="true"><span class="w-48 avatar gd-primary"><img src="https://img.icons8.com/color/48/000000/administrator-male.png" alt="."></span></a></div>
                           <div class="flex">
                              <a href="#" class="item-author text-color" data-abc="true">Kinley Adolf</a>
                              <div class="item-except text-muted text-sm h-1x">Training</div>
                           </div>
                           <div class="no-wrap">
                              <div class="item-date text-muted text-sm d-none d-md-block">21 July</div>
                           </div>
                        </div>
                        <div class="list-item" data-id="17">
                           <div><a href="#" data-abc="true"><span class="w-48 avatar gd-warning">H</span></a></div>
                           <div class="flex">
                              <a href="#" class="item-author text-color" data-abc="true">Velden Kamut</a>
                              <div class="item-except text-muted text-sm h-1x">Marketing</div>
                           </div>
                           <div class="no-wrap">
                              <div class="item-date text-muted text-sm d-none d-md-block">13/3/19</div>
                           </div>
                        </div>
                        <div class="list-item" data-id="16">
                           <div><a href="#" data-abc="true"><span class="w-48 avatar gd-info">F</span></a></div>
                           <div class="flex">
                              <a href="#" class="item-author text-color" data-abc="true">Stuart Kim</a>
                              <div class="item-except text-muted text-sm h-1x">Finance</div>
                           </div>
                           <div class="no-wrap">
                              <div class="item-date text-muted text-sm d-none d-md-block">03/1/19</div>
                           </div>
                        </div>
                        <div class="list-item" data-id="4">
                           <div><a href="#" data-abc="true"><span class="w-48 avatar gd-success"><img src="https://img.icons8.com/color/48/000000/guest-male.png" alt="."></span></a></div>
                           <div class="flex">
                              <a href="#" class="item-author text-color" data-abc="true">Simply Fry</a>
                              <div class="item-except text-muted text-sm h-1x">Projects</div>
                           </div>
                           <div class="no-wrap">
                              <div class="item-date text-muted text-sm d-none d-md-block">2 hours ago</div>
                           </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>