<div class="card_sect">
  <div class="container-fluid">
    <div class="row">
      <div class="top_content">
        <h4>Hello!, {{userName}}</h4>
        <p>Lets learn about the growth today</p>
      </div>
    </div>

    <!-- Stats + Chart -->
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <!-- Stats Cards -->
          <div class="col-md-4">
            <div class="card_content bg-c-yellow">
              <h4>Total Users</h4>
              <div class="card_inner_content">
                <h6 class="first">Total leads : {{trainingStats.totalLeads}}</h6>
                <h6>Registered: {{ trainingStats.registeredLeads }}</h6>
              </div>
              <div class="card_inner_content">
                <h6 class="first">Paid: {{ trainingStats.paidLeads }}</h6>
                <h6>Rejected: {{ trainingStats.rejectedLeads }}</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card_content bg-c-blue">
              <h4>Marketing</h4>
              <div class="card_inner_content">
                <h6 class="first">Total : 534</h6>
                <h6>Enrolled : 534</h6>
              </div>
              <div class="card_inner_content">
                <h6 class="first">Potential : 534</h6>
                <h6>Non paid : 534</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card_content bg-c-green">
              <h4>Finance</h4>
              <div class="card_inner_content">
                <h6 class="first">Total : ₹5340</h6>
                <h6>Credit : ₹2340</h6>
              </div>
              <div class="card_inner_content">
                <h6 class="first">Debit : ₹5340</h6>
                <h6>Upcoming : 534</h6>
              </div>
            </div>
          </div>
        </div>
      </div>

      
<!-- <div class="row margin_top">
  <div class="col-md-12">
    <div class="chart-container" style="position: relative; height:400px; width:100%">
      <canvas id="canvas">{{chart}}</canvas>
    </div>
  </div>
</div> -->


    <!-- Full width Followups -->
     
    <div class="row margin_top" *ngIf="userType === 'admin' || userType ==='staff'">
      <div class="col-md-12">
        <div class="table_cont">
          <div class="top_table_cont">
            <h5>Upcoming Followups</h5>
          </div>
          <div class="mat-elevation-z2 table-container">
            <table mat-table [dataSource]="followupDataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle('followup') : null"
                                [checked]="followupSelection.hasValue() && isAllSelected('followup')"
                                [indeterminate]="followupSelection.hasValue() && !isAllSelected('followup')">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? followupSelection.toggle(row) : null"
                                [checked]="followupSelection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              
              <!-- Full Name -->
              <ng-container matColumnDef="fullname">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
              </ng-container>
              
              <!-- Phone -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
              </ng-container>
              
              <!-- Course -->
              <ng-container matColumnDef="course">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Course </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.courses?.join(', ') }}
                </td>
              </ng-container>
              
              <!-- Followup Date -->
              <ng-container matColumnDef="followupDate">
                <th mat-header-cell *matHeaderCellDef> Followup Date </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ element.followup_date | date:'shortDate' }} 
                </td>
              </ng-container>
              
              <!-- Followup Time -->
              <ng-container matColumnDef="followupTime">
                <th mat-header-cell *matHeaderCellDef> Followup Time </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ formatTimeForDisplay(element.followup_time) }} 
                </td>
              </ng-container>
              
              <!-- Lead Status -->
              <ng-container matColumnDef="leadSelection">
                <th mat-header-cell *matHeaderCellDef> Lead status </th>
                <td class="lead_status" mat-cell *matCellDef="let element">
                  <mat-form-field appearance="outline">
                    <mat-select
                      [(value)]="element.lead_status"
                      (selectionChange)="onLeadStatusChange($event.value, element._id, true)"
                      [ngClass]="getLeadStatusClass(element.lead_status)"
                      class="mat-select-lead-status">
                      <mat-option *ngFor="let lead of leadOptions" [value]="lead">{{ lead }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              
              <!-- Comments -->
              <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let element">
                  <button 
                    mat-raised-button 
                    color="primary" 
                    class="comments-button"
                    (click)="openCommentsDialog(element._id, element.fullname)">
                    Comments
                    <span *ngIf="element.comments && element.comments.length > 0" class="comment-count">
                      ({{element.comments.length}})
                    </span>
                  </button>
                </td>
              </ng-container>
              
              <!-- Action -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element._id)">Edit</button></td>
              </ng-container>
              
              <!-- Mark Registered -->
              <ng-container matColumnDef="MarkRegistered">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="element.isRegistered === 1"
                    (click)="markAsRegistered(element._id, true)">
                    {{ element.isRegistered === 1 ? 'Registered' : 'Mark Registered' }}
                  </button>
                </td>
              </ng-container>
              
              <!-- Send Message -->
              <ng-container *ngIf="userType === 'admin'" matColumnDef="SendMessage">
                <th mat-header-cell *matHeaderCellDef>Send Message</th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="sendLeadDetails(element._id)">Send</button></td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="getFollowupDisplayedColumns()"></tr>
              <tr mat-row *matRowDef="let row; columns: getFollowupDisplayedColumns()"></tr>
            </table>
            
            <!-- Pagination -->
            <div class="pagination-container">
              <nav aria-label="Followup pagination">
                <div class="pagination-wrapper">
                  <div class="pagination-group">
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="followupCurrentPage === 1" (click)="goToFirstPage('followup')">
                        <button class="page-link" type="button" aria-label="First">
                          <span aria-hidden="true">&laquo;</span>
                        </button>
                      </li>
                      <li class="page-item" [class.disabled]="followupCurrentPage === 1" (click)="goToPreviousPage('followup')">
                        <button class="page-link" type="button" aria-label="Previous">
                          <span aria-hidden="true">&lsaquo;</span>
                        </button>
                      </li>
                      <div class="page-number-container">
                        <li *ngFor="let page of getPageNumbers('followup')"
                            class="page-item"
                            [class.active]="page === followupCurrentPage"
                            (click)="goToPage(page, 'followup')">
                          <button class="page-link" type="button">{{page}}</button>
                        </li>
                      </div>
                      <li class="page-item" [class.disabled]="followupCurrentPage === followupTotalPages" (click)="goToNextPage('followup')">
                        <button class="page-link" type="button" aria-label="Next">
                          <span aria-hidden="true">&rsaquo;</span>
                        </button>
                      </li>
                      <li class="page-item" [class.disabled]="followupCurrentPage === followupTotalPages" (click)="goToLastPage('followup')">
                        <button class="page-link" type="button" aria-label="Last">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                    </ul>
                    <div class="pagination-info">
                      <span>{{getStartItem('followup')}}</span>-<span>{{getEndItem('followup')}}</span> of <span>{{followupTotalItems}}</span>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Full width Enrollments -->
    <div class="row margin_top" *ngIf="userType === 'staff'">
      <div class="col-md-12">
        <div class="table_cont">
          <div class="top_table_cont">
            <h5>New Enrollments</h5>
          </div>
          <div class="mat-elevation-z2 table-container">
           <table mat-table [dataSource]="newEnrollmentDataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle('enrollment') : null"
                                [checked]="enrollmentSelection.hasValue() && isAllSelected('enrollment')"
                                [indeterminate]="enrollmentSelection.hasValue() && !isAllSelected('enrollment')">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? enrollmentSelection.toggle(row) : null"
                                [checked]="enrollmentSelection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              
              <!-- Full Name -->
              <ng-container matColumnDef="fullname">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
              </ng-container>
              
              <!-- Phone -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
              </ng-container>
              
              <!-- Course -->
              <ng-container matColumnDef="course">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Course </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.courses?.join(', ') }}
                </td>
              </ng-container>
              
              <!-- Created Date -->
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ element.createdAt | date:'shortDate' }} 
                </td>
              </ng-container>
              
              <!-- Created Time -->
              <ng-container matColumnDef="createdTime">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Created Time </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ element.createdAt | date:'shortTime' }} 
                </td>
              </ng-container>
              
              <!-- Lead Status -->
              <ng-container matColumnDef="leadSelection">
                <th mat-header-cell *matHeaderCellDef> Lead Status </th>
                <td class="lead_status" mat-cell *matCellDef="let element">
                  <mat-form-field appearance="outline">
                    <mat-select
                      [(value)]="element.lead_status"
                      (selectionChange)="onLeadStatusChange($event.value, element._id, false)"
                      [ngClass]="getLeadStatusClass(element.lead_status)"
                      class="mat-select-lead-status">
                      <mat-option *ngFor="let lead of leadOptions" [value]="lead">{{ lead }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              
              <!-- Followup Date -->
              <ng-container matColumnDef="followupDate">
                <th mat-header-cell *matHeaderCellDef> Followup Date </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ element.followup_date | date:'shortDate' }} 
                </td>
              </ng-container>
              
              <!-- Followup Time -->
              <ng-container matColumnDef="followupTime">
                <th mat-header-cell *matHeaderCellDef> Followup Time </th>
                <td mat-cell *matCellDef="let element"> 
                  {{ formatTimeForDisplay(element.followup_time) }} 
                </td>
              </ng-container>
              
              <!-- Comments -->
              <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let element">
                  <button 
                    mat-raised-button 
                    color="primary" 
                    class="comments-button"
                    (click)="openCommentsDialog(element._id, element.fullname)">
                    Comments
                    <span *ngIf="element.comments && element.comments.length > 0" class="comment-count">
                      ({{element.comments.length}})
                    </span>
                  </button>
                </td>
              </ng-container>
              
              <!-- Action -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button (click)="openDialog(element._id)">Edit</button>
                </td>
              </ng-container>
              
              <!-- Mark Registered -->
              <ng-container matColumnDef="MarkRegistered">
                <th mat-header-cell *matHeaderCellDef> Registration </th>
                <td mat-cell *matCellDef="let element">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="element.isRegistered === 1"
                    (click)="markAsRegistered(element._id, false)">
                    {{ element.isRegistered === 1 ? 'Registered' : 'Mark Registered' }}
                  </button>
                </td>
              </ng-container>
              
              <!-- Send Message -->
              <!-- <ng-container *ngIf="userType === 'admin'" matColumnDef="SendMessage">
                <th mat-header-cell *matHeaderCellDef> Send Message </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button (click)="sendLeadDetails(element._id)">Send</button>
                </td>
              </ng-container> -->
              
              <tr mat-header-row *matHeaderRowDef="getNewEnrollmentDisplayedColumns()"></tr>
              <tr mat-row *matRowDef="let row; columns: getNewEnrollmentDisplayedColumns()"></tr>
            </table>
            
            <!-- Pagination -->
            <div class="pagination-container">
              <nav aria-label="Enrollment pagination">
                <div class="pagination-wrapper">
                  <div class="pagination-group">
                    <ul class="pagination">
                      <li class="page-item" [class.disabled]="newEnrollmentCurrentPage === 1" (click)="goToFirstPage('enrollment')">
                        <button class="page-link" type="button" aria-label="First">
                          <span aria-hidden="true">&laquo;</span>
                        </button>
                      </li>
                      <li class="page-item" [class.disabled]="newEnrollmentCurrentPage === 1" (click)="goToPreviousPage('enrollment')">
                        <button class="page-link" type="button" aria-label="Previous">
                          <span aria-hidden="true">&lsaquo;</span>
                        </button>
                      </li>
                      <div class="page-number-container">
                        <li *ngFor="let page of getPageNumbers('enrollment')"
                            class="page-item"
                            [class.active]="page === newEnrollmentCurrentPage"
                            (click)="goToPage(page, 'enrollment')">
                          <button class="page-link" type="button">{{page}}</button>
                        </li>
                      </div>
                      <li class="page-item" [class.disabled]="newEnrollmentCurrentPage === newEnrollmentTotalPages" (click)="goToNextPage('enrollment')">
                        <button class="page-link" type="button" aria-label="Next">
                          <span aria-hidden="true">&rsaquo;</span>
                        </button>
                      </li>
                      <li class="page-item" [class.disabled]="newEnrollmentCurrentPage === newEnrollmentTotalPages" (click)="goToLastPage('enrollment')">
                        <button class="page-link" type="button" aria-label="Last">
                          <span aria-hidden="true">&raquo;</span>
                        </button>
                      </li>
                    </ul>
                    <div class="pagination-info">
                      <span>{{getStartItem('enrollment')}}</span>-<span>{{getEndItem('enrollment')}}</span> of <span>{{newEnrollmentTotalItems}}</span>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>