<div class="container mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%;">#</th>
          <th style="width: 15%;">Job Title</th>
          <th style="width: 75%;">Job Description</th>
          <th style="width: 5%;"></th> <!-- Additional column for Edit button -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of generaldata; let i = index">
          <td style="width: 5%;">{{ i + 1 }}</td>
          <td style="width: 15%;">{{ item.job_title }}</td>
          <td style="width: 75%; height: 100px; overflow: hidden;" [innerHTML]="item.job_description"></td>
          <td style="width: 5%;">
            <button class="btn btn-primary" mat-button (click)="openDialog(item._id)">Edit generaldata</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  