<h2 mat-dialog-title>Booking</h2>
<form class="example-form" [formGroup]="editForm" (submit)="onSubmit()" ><mat-dialog-content class="mat-typography">
<div class="container">
    <div class="row">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput class="form-control" id="fullname" name="fullname" formControlName="fullname" type="text" placeholder="Ex. John doe">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" id="email" name="email" formControlName="email" matInput placeholder="Ex. johndoe@gmail.com">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input type="tel" id="phone" name="phone" formControlName="phone" matInput placeholder="Ex. 9893239893">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Courses</mat-label>
            <textarea matInput  id="courses" name="courses" formControlName="courses" placeholder="Ex. some comments..."></textarea>
        </mat-form-field>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial type="submit">Submit</button>
</mat-dialog-actions>
</form>


