/* service sector */
.service_sector {
    background-color: #FFF;
}
.service_card {
    padding: 20px;
    margin: 10px 0px;
    background-color: #EBEBEB;
    /* border-radius: 25px; */
    height: 30vh;
}
.service_card:hover {
    background-color: #575AB9;
    color: #fff
}
.service_card img {
    background-color: #EBEBEB;
    height: 70px;
    padding: 10px;
    margin: 10px;
    /* border-radius: 25px; */
    object-fit: cover;
}
.service_header {
    padding: 20px 0px;
}
.new_container {
    max-width: 1250px;
}
.service_header h5 {
    background-color: #575AB9;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    /* border-radius: 30px; */
}
.service_card img {
    width: 70px;
    object-fit: cover;
}
@media (max-width: 660px){
    .service_card {
        height: auto !important;
    }
    .service_sector {
        background-color: #FFF;
        padding: 0;
    }

}