<section class="service_sector">
    <div class="container new_container">
      <div class="service_header">
        <h5>INDUSTRIAL SERVICES</h5>
        <!-- <img src="assets/" alt=""> -->
        <h6>Key Aspects of Industrial Automation</h6>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-icon.png" alt=""> -->
            <h6>SKILL DEVELOPMENT</h6>
            <p>Our program fosters skill development in automation, empowering individuals to excel in industries reliant on cutting-edge technology which helps for individual growth and corporate growth.</p>
  
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-icon-3.png" alt=""> -->
            <h6>DESIGN & DOCUMENTATION</h6>
            <p>We provide comprehensive design and documentation services for industries, in industrial automation and control system projects.            </p>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-icon-5.png" alt=""> -->
            <h6>SYSTEM INTEGRATION</h6>
            <p>We excel in seamless system integration, harmonizing diverse technologies for optimal performance in industrial automation setups.            </p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-icon-4.jpg" alt=""> -->
            <h6>INSTALLING & SITE</h6>
            <p> We provide efficient installation and on-site support, ensuring smooth implementation of industrial automation solutions.</p> 
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-scada-icon-2.png" alt=""> -->
            <h6>COMMISSIONING</h6>
            <p>We provide wide range of automation products with multi-domine expertise to execute online and offline commissioning support.</p> 
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_card">
            <!-- <img src="assets/ia-scada-icon.png" alt=""> -->
            <h6>MAINTENANCE AND SUPPORT</h6>
            <p> Industrial automation systems generate vast amounts of data. Through analytics, companies can gain insights into their operations, identify bottlenecks, and make data-driven decisions to optimize production processes.</p> 
          </div>
        </div>
      </div>
    </div>
  </section>