<section class="contact_table">
  <div class="container-fluid">
    <div class="search">
      <div class="row">
        <div class="col-lg-8">
          <div class="title_field_card">
            <mat-form-field appearance="outline" class="example-full-width" style="margin: 10px">
              <mat-label>Search</mat-label>
              <input matInput placeholder="Ex. CAE" [(ngModel)]="searchTerm">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
                <input matEndDate placeholder="End date" [(ngModel)]="endDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button class="btn" (click)="loadContacts()">Search</button>
            <button class="btn" (click)="downloadContacts()">Download</button>
            <button class="btn" (click)="openCreateUserDialog()">Create User</button>
          </div>
         
        </div>
        <div class="col-lg-4">
          <div class="title_field_card">
            <mat-form-field appearance="outline" *ngIf="getUserType() === 'admin'" class="example-full-width" style="margin: 10px">
              <mat-label>Select Assignee</mat-label>
              <mat-select [(ngModel)]="selectedAssignee">
                  <mat-option *ngFor="let user of assigneeOptions" [value]="user">{{ user }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button class="btn" *ngIf="getUserType() === 'admin'"(click)="bulkAction()">Select</button>
          </div>
        </div>


<div class="row align-items-center button-row">
 <!-- <div class="col-auto">
    <button class="btn" (click)="openCreateUserDialog()">Create User</button>
  </div> -->
  <!-- <div class="col-auto">
    <button class="btn" *ngIf="getUserType() === 'admin'" (click)="SendBulkMessage()">Send Message</button>
  </div> -->
</div>

      </div>
      
    </div>
  
    
    <!-- <div class="row">
      <div class="col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Select Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="singleStartDate" placeholder="Start date">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>
    
      <div class="col-lg-4">
        <mat-form-field appearance="outline">
          <mat-label>Select End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="singleEndDate" placeholder="End date">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
     -->
   
    <div class="mat-elevation-z2 table-container">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
         <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Define your columns -->
        <ng-container matColumnDef="fullname">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.fullname }} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container> -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{ element.phone }} </td>
        </ng-container>
        <ng-container matColumnDef="course">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Course </th>
          <td mat-cell *matCellDef="let element">
            {{ element.courses }}
          </td>
        </ng-container>
        <ng-container matColumnDef="createdDateTime">
  <th mat-header-cell mat-sort-header *matHeaderCellDef> Date & Time </th>
  <td mat-cell *matCellDef="let element"> 
    {{ element.created_date | date:'shortDate' }} 
    {{ element.created_time  }} 
  </td>
</ng-container>
       <ng-container *ngIf="getUserType() === 'staff'" matColumnDef="leadSelection">
  <th mat-header-cell *matHeaderCellDef> Lead status </th>
  <td class="lead_status" mat-cell *matCellDef="let element">
    <mat-form-field appearance="outline">
      <mat-select
        [(value)]="element.lead_status"
        (selectionChange)="onCourseSelectionChange($event.value, element._id)"
        [ngClass]="getLeadStatusClass(element.lead_status)"
        class="mat-select-lead-status">
        <mat-option *ngFor="let lead of leadOptions" [value]="lead">{{ lead }}</mat-option>
      </mat-select>
    </mat-form-field>
  </td>
</ng-container>

<ng-container matColumnDef="followupDate">
  <th mat-header-cell *matHeaderCellDef> Followup Date </th>
  <td mat-cell *matCellDef="let element"> 
    {{ element.followup_date | date:'shortDate' }} 
  </td>
</ng-container>

<!-- In your contact-admin.component.html -->
<ng-container matColumnDef="followupTime">
  <th mat-header-cell *matHeaderCellDef> Followup Time </th>
  <td mat-cell *matCellDef="let element"> 
    {{ formatTimeForDisplay(element.followup_time) }} 
  </td>
</ng-container>
        <ng-container  *ngIf="getUserType() === 'admin'" matColumnDef="assigneeSelection">
          <th mat-header-cell *matHeaderCellDef> Assignee </th>
          <td class="lead_status" mat-cell *matCellDef="let element">
            <mat-form-field  appearance="outline">
              <mat-select [(value)]="element.assignee" (selectionChange)="onAssigneeSelect($event.value, element._id)">
                <mat-option *ngFor="let user of assigneeOptions" [value]="user">{{ user }}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element._id)">Edit</button></td>
        </ng-container>
        <!-- Add this ng-container with your other column definitions -->
<ng-container matColumnDef="comments">
  <th mat-header-cell *matHeaderCellDef> Comments </th>
  <td mat-cell *matCellDef="let element">
    <button 
      mat-raised-button 
      color="primary" 
      class="comments-button"
      (click)="openCommentsDialog(element._id, element.fullname)">
      <!-- <mat-icon>comment</mat-icon> -->
      Comments
      <span *ngIf="element.comments && element.comments.length > 0" class="comment-count">
        ({{element.comments.length}})
      </span>
    </button>
  </td>
</ng-container>
  <ng-container matColumnDef="MarkRegistered">
  <th mat-header-cell *matHeaderCellDef>Status</th>
  <td mat-cell *matCellDef="let element">
    <button mat-raised-button 
            [color]="element.isRegistered ? 'accent' : 'primary'"
            [disabled]="element.isRegistered || element.lead_status !== 'Finalized'"
            (click)="markAsRegistered(element._id)">
      {{ element.isRegistered ? 'Registered' : 'Mark Registered' }}
    </button>
  </td>
</ng-container>
        <ng-container  matColumnDef="SendMessage" >
          <th mat-header-cell *matHeaderCellDef>Send Message</th>
          <td mat-cell *matCellDef="let element">  <button mat-raised-button (click)="sendLeadDetails(element._id)">Send</button></td>
        </ng-container>

        
     
    
        <!-- Table rows -->
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
     <div class="pagination-container">
  <nav aria-label="Contact pagination">
    <ul class="pagination justify-content-end my-4">
      <li class="page-item" [class.disabled]="pageNum === 1" (click)="goToFirstPage()">
        <button class="page-link" type="button" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" [class.disabled]="pageNum === 1" (click)="goToPreviousPage()">
        <button class="page-link" type="button" aria-label="Previous">
          <span aria-hidden="true">&lsaquo;</span>
        </button>
      </li>
      <!-- Page numbers -->
      <div class="page-number-container d-flex">
        <li *ngFor="let page of getPageNumbers()"
            class="page-item"
            [class.active]="page === pageNum"
            (click)="goToPage(page)">
          <button class="page-link" type="button">{{page}}</button>
        </li>
      </div>
      <li class="page-item" [class.disabled]="pageNum === totalPages" (click)="goToNextPage()">
        <button class="page-link" type="button" aria-label="Next">
          <span aria-hidden="true">&rsaquo;</span>
        </button>
      </li>
      <li class="page-item" [class.disabled]="pageNum === totalPages" (click)="goToLastPage()">
        <button class="page-link" type="button" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
  <div class="pagination-info text-center text-muted mb-4">
    <span>{{getStartItem()}}</span>-<span>{{getEndItem()}}</span> of <span>{{totalItems}}</span>
  </div>
</div>
    </div>
</div>
</section>