<section class="slider_sect">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">

           <div class="carousel-inner">
      <div *ngFor="let item of generaldata; let i = index" class="carousel-item" [class.active]="i === 0" [ngStyle]="{'background-image': 'url(' + item.image + ')', 'background-size': 'cover'}">
        <div class="container new_container">
          <div class="row">
            <div class="col-lg-12">
              <div class="content_text">
                <h2>{{ item.title }}</h2>
                <p [innerHTML]="item.short_description"></p>
                <button class="first_child" routerLink="/services">Our services</button>
                <button class="second_child" (click)="openDialog()">
                  <img src="assets/meeting_icon.png" alt=""> Book a meeting
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="about_sect">
    <div class="container new_container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_left">
            <div class="obj_heading">
              <h5>ABOUT US</h5>
          </div>
            <p>Welcome to <span style="font-weight: bold">INFERCON AUTOMATION PVT. LTD.,</span> - premier Automation company which provides industrial automation services and skill development. Our exceptional coaching, cutting-edge curriculum, and hands-on training empower aspiring candidates to thrive as successful Industrial Automation Engineers. Our courses are equally valuable for seasoned professionals aiming to excel in their careers.</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="about_card">
                  <h2><img src="assets/Star_12.png" alt=""> 1000+</h2>
                  <h5>Industrial Services</h5>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="about_card">
                  <h2><img src="assets/happy_face.png" alt=""> 10000+</h2>
                  <h5>Happy Students</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about_right">
            <img src="assets/industrial-automation-image.avif" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="vision_sect">
    <div class="container new_container">
      <section>
          <div class="row">

              <div class="col-md-6">
                      <div class="text-white vison_mission_div" style="background-color: #575ab9;">
                          <div class="text-center" style="padding : 23px;">
                              <h5 class="text-uppercase" style="font-weight: 600">Vision</h5>
                              <p class="font-weight-light my-3" style="text-align: left !important;">Infercon Automation aims to be the leading automation solution provider for engineering companies.</p>
                          </div>
                      </div>
              </div>
              <div class="col-md-6">
                      <div class="text-white vison_mission_div" style="background-color: #575ab9;">
                          <div class="text-center" style="padding : 20px">
                              <h5 class="text-uppercase" style="font-weight: 600">Mission</h5>
                              <p class="font-weight-light my-3" style="text-align: left !important;">Our mission is to explore advanced automation technologies to succeed in the field of industrial automation, fostering innovation and excellence in the industry.</p>
                          </div>
                      </div>
              </div>
  
          </div>
      </section>
  </div>
  </section>
  <div class="container">
    <div class="divider div-transparent div-dot"></div>
  </div>
  <app-servicesection></app-servicesection>
  <div class="container">
    <div class="divider div-transparent div-dot"></div>
  </div>
  <section class="pipeline_sect">
    <div class="container new_container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pipeline_right">
            <div class="right_side">
              <h5>PROJECT</h5>
          </div>
            <h6>12 Years of Experience</h6>
            <div class="row">
              <div class="col-lg-2">
                <div class="pipeline_card">
                  <h6>Requirement analysis</h6>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="pipeline_card">
                  <h6>Design and Documentation</h6>
                   </div>
              </div>
            
              <div class="col-lg-2">
                <div class="pipeline_card">
                  <h6>Fabrication and Assembly</h6>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="pipeline_card">
                  <h6>Erection and Commissioning</h6>
                   </div>
              </div>
              <div class="col-lg-3">
                <div class="pipeline_card">
                  <h6>Breakdown and Maintenance</h6>
                   </div>
              </div>
            </div>
              <div class="col-lg-12">
                <div class="single_card_new" style="margin-top: 10px;">
                  <button routerLink="/services" style="color: #fff">View more details</button>
                </div>

              </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="divider div-transparent div-dot"></div>
  </div>
<section class="test_section">
  <div class="container new_container">
    <div class="row">
      <div class="right_side">
        <h5>SKILL DEVELOPMENT</h5>
    </div>
      <div class="col-lg-12">
        <div class="app_training_details">
          <img src="/assets/control-system-training.jpg" alt="">
          <div class="overlay-text">MANUFACTURING INDUSTRIES</div>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <h2 class="text-capitalize font-weight-bold my-1">AUTOMATION <span  style="color: #575AB9"> TRAINING</span></h2>
          <p class="text-secondary">Our Automation training focuses on 
            </p>
            <ul style="line-height: 2;">
              <li>PLC Training</li>
              <li>SCADA Training</li>
              <li>HMI Training,</li>
              <li>VFD Training</li>
              <li>Servo & Stepper Motor Training</li>
              <li>Sensors, Pneumatics, AC/DC Motor</li>
            </ul>
            
          </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">METAL INDUSTRY</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400;color: #fff">PHARMACEUTICAL INDUSTRY</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">ELECTRONICS INDUSTRY</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">AUTOMOBILE INDUSTRY</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">LEATHER INDUSTRY</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">FOOD AND BEVERAGE</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff;">PLASTIC AND RUBBER INDUSTRIES</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">TEXTILE INDUSTRY</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="app_training_details">
          <img src="/assets/process-industries-1.jpg" alt="">
          <div class="overlay-text">PROCESS INDUSTRIES</div>
        </div>
        
      </div>
      <div class="col-lg-4">
        <div>
          <h2 class="text-capitalize font-weight-bold my-1">CONTROL SYSTEM <span  style="color: #575AB9"> TRAINING</span></h2>
          <p class="text-secondary">Our Control System training focuses 
            </p>
            <ul style="line-height: 2;">
              <li>Siemens PCS7 DCS Training</li>
              <li>Emerson Delta V DCS Training</li>
              <li>Honeywell Experion C300 DCS Training</li>
              <li>ABB 800xA DCS Training</li>
            </ul>
          </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">CHEMICAL PLANTS</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400;color: #fff">WATER TREATMENT PLANTS</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">SEMICONDUCTOR FABRICATION PLANT</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">FERTILIZER PLANT</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">PETROCHEMICAL PLANTS</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">REFINERIES</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff;">DAIRY PROCESSING PLANT</h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="single_card">
              <h4 style="font-weight: 400; color: #fff">CEMENT PLANT</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="single_card_new">
          <button routerLink="/training-landing" style="color: #fff">View more details</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="divider div-transparent div-dot"></div>
</div>
  <section>
    <!-- portfolio section -->
<div class="container new_container">
  <div id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="obj_heading">
            <h5>GALLERY</h5>
        </div>
          <!-- ISO section -->
          <div class="iso-section">
            <ul class="filter-wrapper clearfix">
              <li *ngFor="let filter of filters">
                <li *ngFor="let filter of filters">
                  <a href="#" (click)="filterGallery($event, filter.value)" [ngClass]="{'selected': selectedFilter === filter.value}">{{ filter.name }}</a>
                </li>
                     </ul>
                     <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                       <div class="iso-box-wrapper col4-iso-box">
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-6 " *ngIf="selectedFilter === '*' || selectedFilter === '.html'">
                            <a href="assets/gallery-1.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-1.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-md-4 col-lg-4 col-sm-6 col-xs-6" *ngIf="selectedFilter === '*' || selectedFilter === '.photoshop'">
                            <a href="assets/gallery-2.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-2.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="selectedFilter === '*' || selectedFilter === '.html'">
                            <a href="assets/gallery-3.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-3.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="selectedFilter === '*' || selectedFilter === '.wordpress'">
                            <a href="assets/gallery-4.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-4.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="selectedFilter === '*' || selectedFilter === '.mobile'">
                            <a href="assets/gallery-5.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-5.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="selectedFilter === '*' || selectedFilter === '.wordpress'">
                            <a href="assets/gallery-6.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-6.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-12 col-xs-6" *ngIf="selectedFilter === '*' || selectedFilter === '.photoshop'">
                            <a href="assets/gallery-7.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-7.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-6" *ngIf="selectedFilter === '*' || selectedFilter === '.mobile'">
                            <a href="assets/gallery-8.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-8.png" alt="portfolio img"></a>
                          </div>
  
                          <div class="iso-box col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngIf="selectedFilter === '*' || selectedFilter === '.wordpress'">
                            <a href="assets/gallery-9.png" data-lightbox-gallery="portfolio-gallery"><img src="assets/gallery-9.png" alt="portfolio img"></a>
                          </div>
  
                       </div>
                     </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>	
</div>

  </section>
  <div class="container">
    <div class="divider div-transparent div-dot"></div>
  </div>
  <section class="blog_sector">
    <div class="container new_container">
      
      <div class="row">
        <div class="col-lg-6 col-8">
          <div class="blog_header">
            <h5>BLOG</h5>
            <h3>Take a look at our latest articles & blogs</h3>
          </div>
          
        </div>
        <div class="col-lg-6 col-4 blog_head_button">
          <button type="submit" routerLink="/blog" class="btn btn-primary">Read more</button>
        </div>
      </div>
        <div class="card_new" *ngFor="let item of blogdata">
          <div class="row">
            <div class="col-lg-5">
              <div class="img_container">
                <img [src]="item.image" alt="">
              </div>
            </div>
            <div class="col-lg-7">
              <div class="card_content">
                <h1>{{item.title}}</h1>
                <p class="excerpt" [innerHTML]="item.short_description"></p>
                <!-- <p class="author">{{item.author}}</p> -->
                <div class="divider">
    
                </div>
                <div class="row">
                  <div class="col-lg-6 col-6">
                    <p class="author">{{item.author}}</p>
                  </div>
    
                  <div class="col-lg-6 col-6">
                    <div class="button_box">
                      <p class="blog_btn"><button *ngIf="contentLoaded" [routerLink]="['/app-blog-details', item._id]" class="btn btn-primary">Read more</button></p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
   <div class="container">
    <div class="divider div-transparent div-dot"></div>
  </div>
  <section class="testimonial_section">
    <div class="container-lg new_container">
      <div class="row">
        <div class="col-sm-12">
          <h2>See What <b>Our Customers</b> Say About Us</h2>
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">The industrial automation training provided by Infercon Automation was exceptional! The instructors were knowledgeable and experienced, and the hands-on approach helped me grasp complex concepts easily. I highly recommend this training to anyone looking to advance their skills in automation.</div>
                      <div class="media">
                        <!-- <img src="/examples/images/clients/1.jpg" class="mr-3" alt=""> -->
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>Paula Wilson</b></div>
                            <div class="details">Student</div>
                          </div>										
                        </div>
                      </div>
                    </div>								
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">I recently completed the industrial automation training program offered by Infercon Automation, and I couldn't be more satisfied. The trainers were engaging and provided valuable insights into the latest industry trends and technologies. Thanks to this training, I feel more equipped to tackle automation challenges in my workplace.</div>
                      <div class="media">
                        <!-- <img src="/examples/images/clients/2.jpg" class="mr-3" alt=""> -->
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>Antonio Moreno</b></div>
                            <div class="details">Student</div>
                          </div>
                        </div>
                      </div>
                    </div>								
                  </div>
                </div>			
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">I highly recommend the industrial automation training from Infercon Automation. The course materials were well-structured, and the instructors were experts in the field. Whether you're a beginner or have some experience in automation, this training will undoubtedly enhance your skills and open up new opportunities in the industry.</div>
                      <div class="media">
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>Michael Holz</b></div>
                            <div class="details">Student</div>											
                          </div>
                        </div>
                      </div>
                    </div>								
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">As someone new to industrial automation, I found the training provided by Infercon Automation incredibly helpful. The instructors took the time to explain concepts thoroughly and patiently guided us through various automation tools and techniques. I now feel well-prepared to implement automation solutions in my organization.</div>
                      <div class="media">
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>Mary Saveley</b></div>
                            <div class="details">Student</div>
                          </div>										
                        </div>
                      </div>
                    </div>								
                  </div>
                </div>			
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">I'm incredibly impressed with the industrial automation project delivered by Infercon Automation. Their attention to detail and commitment to quality were evident throughout the entire process. Thanks to their expertise, we've been able to streamline our operations and stay ahead of the competition.</div>
                      <div class="media">
                        <!-- <img src="/examples/images/clients/5.jpg" class="mr-3" alt=""> -->
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>Martin Sommer</b></div>
                            <div class="details">Project Engineer</div>
                          </div>										
                        </div>
                      </div>
                    </div>								
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial-wrapper">
                      <div class="testimonial">Working with Infercon Automation on our industrial automation project was a game-changer for our business. From conceptualization to execution, their team was professional, responsive, and innovative. They delivered a solution that not only met but exceeded our expectations, paving the way for future automation initiatives.</div>
                      <div class="media">
                        <!-- <img src="/examples/images/clients/6.jpg" class="mr-3" alt=""> -->
                        <div class="media-body">
                          <div class="overview">
                            <div class="name"><b>John Williams</b></div>
                            <div class="details">Project Engineer / L&T</div>
                          </div>										
                        </div>
                      </div>
                    </div>								
                  </div>
                </div>			
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-contactsection></app-contactsection>
<app-footersection></app-footersection>