<section class="slider_sect">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/assets/banner-1.jpg');  background-size: cover;">
          <div class="container new_container">
            <div class="row">
              <div class="col-lg-6">
                <div class="content_text">
                  <h2>Specialist in the field of Oil and gas</h2>
                  <p>the leading destination for industrial automation training in Chennai.</p>
                  <button class="first_child" routerLink="/services">Our services</button>
                  <button class="second_child" (click)="openDialog()"> <img src="assets/meeting_icon.png" alt=""> Book a meeting</button>  
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/assets/banner-3.webp'); background-size: cover;">
          <div class="container new_container">
            <div class="row">
              <div class="col-lg-6">
                <div class="content_text">
                  <h2>Right Place to Learn Industrial Automation</h2>
                  <p>If you're looking for the best PLC training center in Chennai, you've come to the right place.</p>
                  <button class="first_child" routerLink="/services">Our services</button>   
                  <button class="second_child" (click)="openDialog()"> <img src="assets/meeting_icon.png" alt=""> Book a meeting</button>   
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/assets/banner-2.jpg');">
          <div class="container new_container">
            <div class="row">
              <div class="col-lg-6">
                <div class="content_text">
                  <h2>State-of-the-Art Facilities</h2>
                  <p>Learn in a dedicated environment with the latest equipment and software.</p>
                  <button class="first_child" routerLink="/services">Our services</button>
                  <button class="second_child" (click)="openDialog()"> <img src="assets/meeting_icon.png" alt=""> Book a meeting</button> 
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="about_sect">
    <div class="container new_container">
      <div class="row">
        <div class="col-lg-6">
          <div class="about_left">
            <h5>ABOUT US</h5>
            <p><span style="font-weight: bold">INFERCON AUTOMATION PVT. LTD.,</span> Of Chennai, An “Indian Subsidiary Of INFERCON INC, Houston, Texas”. it is the leading destination for industrial automation training in Chennai. INFERCON, Is An Engineering Resource Company That Delivers Industrial Automation And Project Management Solutions On Instrumentation, Control System And Automation For Oil & Gas, Petrochemical, Power, Pharma, Food & Beverage, Mining, Paper & Pulp, Chemical Industry, HVAC, Marine Clients Around The World. If you're looking for the best PLC training center in Chennai, you've come to the right place.</p>
            <div class="row">
              <div class="col-lg-6">
                <div class="about_card">
                  <h2><img src="assets/Star_12.png" alt=""> 100+</h2>
                  <h5>Industrial Services</h5>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="about_card">
                  <h2><img src="assets/happy_face.png" alt=""> 10000+</h2>
                  <h5>Happy Students</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about_right">
            <img src="assets/about_right_image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
<app-servicesection></app-servicesection>
  <section class="pipeline_sect">
    <div class="container new_container">
      <div class="row">
        <div class="col-lg-5">
          <div class="pipeline_left">
            <div class="training_header">
              <h5>TRAINING</h5>
            </div>
            <h5></h5>
            <h2>Three levels of training</h2>
            <div class="row steps_sect">
              <div class="col-lg-2 col-3">
                <img src="assets/1.png" alt="">
              </div>
              <div class="col-lg-10 col-9">
                <h5>PLC Training</h5>
                <p>PLC (Programmable Logic Controller) training refers to educational programs or courses</p>   
              </div>
            </div>
            <div class="row steps_sect">
              <div class="col-lg-2 col-3">
                <img src="assets/2.png" alt="">
              </div>
              <div class="col-lg-10 col-9">
                <h5>SCADA Training</h5>
                <p>PLC (Programmable Logic Controller) training refers to educational programs or courses</p>   
              </div>
            </div>
            <div class="row steps_sect">
              <div class="col-lg-2 col-3">
                <img src="assets/3.png" alt="">
              </div>
              <div class="col-lg-10 col-9">
                <h5>DCS Training</h5>
                <p>PLC (Programmable Logic Controller) training refers to educational programs or courses</p>   
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="pipeline_right">
            <div class="right_side">
              <h5>PROJECT</h5>
          </div>
            <h2>12 Years of Experience</h2>
            <div class="row">
              <div class="col-lg-6">
                <div class="pipeline_card">
                  <h6>Clear Project Objectives 
                    and Scope Definition</h6>
                    <p>
                      Define the specific goals and objectives of the automation project, including the scope of work. Clearly outline what processes or tasks will be automated and what the expected outcomes are.
                    </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pipeline_card">
                  <h6>Comprehensive Risk 
                    Assessment</h6>
                    <p>
                      Conduct a thorough risk assessment to identify potential challenges, safety concerns, and operational risks associated with the automation project. Test it finally</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="pipeline_card">
                  <h6>Robust Planning and 
                    Budgeting</h6>
                    <p>
                      Develop a detailed project plan that includes timelines, milestones, resource allocation, and a well-defined budget. Ensure that the project plan accounts for contingencies
                    </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="pipeline_card">
                  <h6>Cross-Functional 
                    Team Collaboration</h6>
                    <p>
                      Collaboration among different teams and departments, including engineering, operations, IT, and maintenance, is crucial for the success of an industrial automation project.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="list_image_sect">
    <div class="container new_container animated-div" #animatedDiv [@slideIn]="contentLoaded ? 'visible' : 'hidden'">
      <div class="row">
        <div class="col-lg-12">
            <div class="training_heading">
                <h5 class="text-center">TRAINING</h5>
            </div>
        </div>
        <div class="col-lg-4" *ngFor="let item of trainings">
          <div class="list_images">
            <img class="fixed-size-image" src="{{item.image}}" alt="">
            <div class="list_image_content">
              <h4>{{item.title}}</h4>
              <p [innerHTML]="item.short_description"></p>
              <div class="button_sect">
                <button [routerLink]="['/app-training-detail', item.slug]" class="btn btn-primary">View Training</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog_sector">
    <div class="container new_container">
      
      <div class="row">
        <div class="col-lg-6 col-8">
          <div class="blog_header">
            <h5>BLOG</h5>
          </div>
          <h3>Take a look at our latest articles & blogs</h3>
        </div>
        <div class="col-lg-6 col-4 blog_head_button">
          <button type="submit" routerLink="/blog" class="btn btn-primary">Read more</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="blog_card">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '20px',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <div class="blog_card_content">
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '60%','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            </div>
            <div class="row">
              <div class="col-lg-2 col-3 hide">
                <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '60px','border-radius': '50%',height: '60px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              </div>
              <div class="col-lg-6 col-4 blog_date">
                <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              </div>
              <div class="col-lg-4 col-8">
                <div class="button_box">
                  <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '120px','border-radius': '20px',height: '50px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="blog_card">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '20px',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <div class="blog_card_content">
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '60%','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '100%','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            </div>
            <div class="row">
              <div class="col-lg-2 col-3 hide">
                <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '60px','border-radius': '50%',height: '60px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              </div>
              <div class="col-lg-6 col-4 blog_date">
                <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              </div>
              <div class="col-lg-4 col-8">
                <div class="button_box">
                  <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '120px','border-radius': '20px',height: '50px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" *ngFor="let item of blogdata">
          <div class="blog_card">
            <div class="card-img_container">
              <img [src]="item.image" alt="" class="card-img">
            </div>
            <div class="blog_card_content">
              <h5>{{item.title}}</h5>
              <p [innerHTML]="item.short_description"></p>
            
            </div>
            <div class="row blog_foot">
              <div class="col-lg-2 hide">
                <img src="assets/1.png" alt="">
              </div>
              <div class="col-lg-6 col-4 blog_date">
                <p>{{item.author}}</p>
              </div>
              <div class="col-lg-4 col-8 ">
                <div class="button_box">
                  <button *ngIf="contentLoaded" [routerLink]="['/app-blog-details', item._id]" class="btn btn-primary">Read more</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <app-contactsection></app-contactsection>
<app-footersection></app-footersection>