
  <section class="cards-wrapper-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <button class="card" [routerLink]="['/app-training-list/corporate_training']" style="--bg-img: url(assets/industrial-automation.jpg)">
          <div>
            <h1>CORPORATE TRAINING</h1>
            <p>We offer specialized corporate training which is customized for client requirement to match up their current industrial demands. Our courses focus on skill development in basic,advanced and expert level of training, ensuring employees are proficient in utilizing specific brands' technologies. Empower your workforce with our tailored programs to drive efficiency and innovation in your organization.</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-4">
        <a class="card" [routerLink]="['/app-training-list/individual_training']" style="--bg-img: url(assets/emerson_deltav.jpeg)">
          <div>
            <h1>INDIVIDUAL TRAINING</h1>
            <p>We offer individualized certified training programs catering in various PLC and DCS systems, ensuring thorough understanding and proficiency. Our tailored approach allows students to focus on specific technologies, empowering them with the knowledge and skills needed to excel in industrial automation. Unlock your potential with our specialized training offerings.</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <button class="card" [routerLink]="['/app-training-list/academic_training']" style="--bg-img: url('assets/scada-hd-images-3.jpg')">
          <div>
            <h1>ACADEMIC TRAINING</h1>
            <p>Certified DELTA Automation Engineer
              Certified MITSUBISHI Automation Engineer
              Certified ROCKWELL Automation Engineer
              Certified SIEMENS Automation Engineer</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </button>
      </div>
    </div>

  </div>
  </section>

  <app-footersection></app-footersection>