
<section class="banner_section">
</section>
  <section class="cards-wrapper-new">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="training_heading">
          <h5>TRAINING</h5>
        </div>
        <p>Our program is specifically designed to advance skill development in the field of automation, a critical component of modern industry. By immersing participants in the latest technologies and methodologies, we empower them to master the tools and techniques essential for success in technologically driven sectors. This focus on automation not only prepares individuals for high-demand roles but also significantly enhances their career trajectories. Furthermore, by elevating their expertise, participants contribute to the overall competitiveness and innovation of their organizations. Our curriculum, crafted by experts, is rich in practical exercises and real-world applications, ensuring that all learners gain robust, market-relevant skills that support both individual and corporate growth.     </p>
      </div>
      <div class="col-lg-4">
        <button class="card" [routerLink]="['/app-training-detail/corporate-training']" style="--bg-img: url(assets/industrial-automation.jpg)">
          <div>
            <h1>CORPORATE TRAINING</h1>
            <p>We offer specialized corporate training which is customized for client requirement to match up their current industrial demands. Our courses focus on skill development in basic,advanced and expert level of training, ensuring employees are proficient in utilizing specific brands' technologies. Empower your workforce with our tailored programs to drive efficiency and innovation in your organization.</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </button>
      </div>
      <div class="col-lg-4">
        <a class="card" [routerLink]="['/app-training-list/individual_training']" style="--bg-img: url(assets/emerson_deltav.jpeg)">
          <div>
            <h1>INDIVIDUAL TRAINING</h1>
            <p>We offer individualized certified training programs catering in various PLC and DCS systems, ensuring thorough understanding and proficiency. Our tailored approach allows students to focus on specific technologies, empowering them with the knowledge and skills needed to excel in industrial automation. Unlock your potential with our specialized training offerings.</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <button class="card" [routerLink]="['/app-training-list/academic_training']" style="--bg-img: url('assets/scada-hd-images-3.jpg')">
          <div>
            <h1>ACADEMIC TRAINING</h1>
            <p>Academic training offers a continuous pathway of professional development through seminars, industrial visits, training internships, project internships, workshops, and placement opportunities. This comprehensive approach ensures a seamless transition from academic learning to practical application, equipping individuals with the skills needed to excel in their careers.</p>
            <div class="tags">
              <div class="tag">View more</div>
            </div>
          </div>
        </button>
      </div>
    </div>

  </div>
  </section>

  <app-footersection></app-footersection>