.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .date_picker {
    width: 194px;
  }
  @media (max-width: 560px){
    .date_picker {
        width: 106px !important;
      }

}