<!-- src/app/components/whatsapp-activity/whatsapp-activity.component.html -->

<section class="whatsapp_activity_table py-4">
  <div class="container">

    <div class="row mb-4 text-center">
      <h2 class="fw-bold">WhatsApp Activity</h2>
    </div>

    <!-- File Upload -->
    <div class="row mb-4">
      <div class="col-md-6 mb-2">
        <input type="file" (change)="onFileSelected($event)" accept=".xls,.xlsx" class="form-control">
      </div>
      <div class="col-md-2 mb-2">
        <button type="button" class="btn btn-outline-secondary w-100" (click)="uploadFile()">Upload</button>
      </div>
    </div>

    <!-- Filter Form -->
    <form [formGroup]="filterForm" (ngSubmit)="submitForm()">
      <div class="row mb-4">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country">
          </mat-form-field>
        </div>

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Experience</mat-label>
            <input matInput formControlName="experience">
          </mat-form-field>
        </div>



        <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Courses</mat-label>
              <mat-select formControlName="course" multiple>
                <mat-option *ngFor="let course of courses" [value]="course.value">
                  {{ course.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          <!-- <mat-form-field appearance="outline" class="w-100">
            <mat-label>Course</mat-label>
            <input matInput formControlName="course">
          </mat-form-field> -->
        </div>

        <!-- <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Template</mat-label>
            <mat-select formControlName="course_id">
              <mat-option value="">Please Select</mat-option>
              <mat-option *ngFor="let template of templates" [value]="template.course_id">
                {{ template.course_id }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <div class="col-12 text-end">
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </div>
    </form>

    <!-- Course Selection After Contact Load -->
    <!-- <div class="row mb-4" *ngIf="dataSource.data.length > 0">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Template</mat-label>
          <mat-select [(ngModel)]="selectedCourseId">
            <mat-option value="">Please Select</mat-option>
            <mat-option *ngFor="let template of templates" [value]="template.course_id">
              {{ isArray(template.course_content) ? template.course_content.join(', ') : template.course_content || template.course_id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div> -->

    <!-- Contacts Table -->
    <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Select Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)" [checked]="selection.isSelected(row)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Data Columns -->
      <ng-container *ngFor="let col of displayedColumns">
        <ng-container *ngIf="col !== 'select'" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col | titlecase }}</th>
          <td mat-cell *matCellDef="let row">{{ row[col] }}</td>
        </ng-container>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Send to WhatsApp Button -->
    <div class="mt-3 text-end" *ngIf="dataSource.data.length > 0">
      <button mat-raised-button color="primary" (click)="sendToWhatsApp()">Send to WhatsApp</button>
    </div>
  </div>
</section>
