<!-- edit-training.component.html -->
<h1 mat-dialog-title>Edit Training</h1>
<form [formGroup]="trainingForm" (submit)="onSubmit()"><mat-dialog-content class="mat-typography">
  <div class="container mt-4">
    <div class="row">
      <!-- First Column -->
      <div class="col-sm-6">
        <!-- Title -->
        <div class="mb-3 title_field">
          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-label>Title</mat-label>
            <input type="text" matInput formControlName="title" name="title"
                   placeholder="Title" required>
          </mat-form-field>
        </div>

        <!-- Short Description -->
        <div class="mb-3 title_field">
          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-label>Meta title (SEO)</mat-label>
            <input type="text" matInput formControlName="meta_title" name="meta_title"
                   placeholder="Meta title" required>
          </mat-form-field>
        </div>
      
        <!-- Short Description -->
        <div class="mb-3 title_field">
          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
            <mat-label>Meta description (SEO)</mat-label>
            <textarea matInput placeholder="Meta Description" formControlName="meta_description" name="meta_description"></textarea>
          </mat-form-field>
        </div>

       
        <div class="row">
          <div class="col-lg-6">
            <!-- Published Toggle -->
            <div class="mb-3">
              <label class="form-label">Published:</label>
              <div class="custom-switch">
                <div class="switch-toggle" [ngClass]="{'green': trainingForm.get('published')?.value, 'blue': !trainingForm.get('published')?.value}" [@toggleAnimation]="trainingForm.get('published')?.value" (click)="toggleSwitchPublised()">
                  <input type="checkbox" class="custom-control-input" formControlName="published" style="display: none;">
                  <span class="toggle-handle"></span>
                </div>
              </div>
            </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-3">
                  <label class="form-label">Featured:</label>
                  <div class="custom-switch">
                    <div class="switch-toggle" [ngClass]="{'green': trainingForm.get('featured')?.value, 'blue': !trainingForm.get('featured')?.value}" [@toggleAnimation]="trainingForm.get('featured')?.value" (click)="toggleSwitchFeatured()">
                      <input type="checkbox" class="custom-control-input" formControlName="featured" style="display: none;">
                      <span class="toggle-handle"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>



        <div class="mb-3 form_control">
          <mat-form-field appearance="outline">
            <mat-label>Related Training</mat-label>
            <mat-select formControlName="related_trainings" multiple>
              <mat-option *ngFor="let training of AllTrainings" [value]="training._id">
                {{ training.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      

      <!-- Second Column -->
      <div class="col-sm-6">
        <!-- Slug -->
        <div class="mb-3 title_field">
              <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                <mat-label>Slug</mat-label>
                <input type="text" matInput formControlName="slug" name="slug"
                       placeholder="Slug Title" required>
              </mat-form-field>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3 ">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Courses Type</mat-label>
                <mat-select formControlName="courses_type" name="courses_type">
                  <mat-option *ngFor="let course of courses_type" [value]="course.value">
                    {{ course.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-3 ">
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Sub Type</mat-label>
                <mat-select formControlName="sub_type" name="sub_type">
                  <mat-option *ngFor="let sub_t of sub_type" [value]="sub_t.value">
                    {{ sub_t.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>


                   <!-- Short Description -->
                   <div class="mb-3 title_field">
                    <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                      <mat-label>Meta keywords (SEO)</mat-label>
                      <textarea matInput placeholder="Ex. No.11, 12th cross st..." formControlName="keywords" name="keywords"></textarea>
                    </mat-form-field>
                  </div>
                  <!-- Image Upload -->
                  <label class="form-label">Image:</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <input class="form-control" type="file" (change)="fileEvent($event)" accept="image/*">
                    </div>
                    <div class="col-sm-6 image_cont">
                      <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="mt-2">
                    </div>
                  </div>

                    <!-- Image Upload -->
                    <label class="form-label">Second Image:</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <input class="form-control" type="file" (change)="fileEventsecond($event)" accept="image/*">
                      </div>
                      <div class="col-sm-6 image_cont">
                        <img *ngIf="secondImagePreview" [src]="secondImagePreview" alt="Image Preview" class="mt-2">
                      </div>
                    </div>

                    <!-- Image Upload -->
                    <label class="form-label">Certificate Image:</label>
                    <div class="row">
                      <div class="col-sm-6">
                        <input class="form-control" type="file" (change)="fileEventThird($event)" accept="image/*">
                      </div>
                      <div class="col-sm-6 image_cont">
                        <img *ngIf="thirdImagePreview" [src]="thirdImagePreview" alt="Image Preview" class="mt-2">
                      </div>
                    </div>

      </div>
      <div class="col-lg-12">
        <!-- Event Details Section -->
        <div class="mb-3">
          <label class="form-label">Event Details:</label>
          <div formArrayName="event_details">
            <div *ngFor="let event of eventDetails.controls; let i = index" [formGroupName]="i">
              <!-- Event Title and Detail Inputs -->
              <div class="row">
                <div class="col-sm-6 title_field">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <input type="text" matInput formControlName="title" name="title"
                           placeholder="Title" [value]="event.value.title">
                  </mat-form-field>
                </div>
                <div class="col-sm-5 title_field">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <input type="text" matInput formControlName="detail" name="detail"
                           placeholder="Detail" [value]="event.value.detail">
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <button type="button" (click)="removeEventDetail(i)" class="btn">
                    <span class="plus-minus-button">-</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Event Detail Button -->
          <button type="button" (click)="addEventDetail()" class="btn btn-primary mt-2">Add</button>
        </div>

        <!-- Systems Used Section -->
        <div class="mb-3">
          <label class="form-label">Systems Used:</label>
          <div formArrayName="systems_used">
            <div *ngFor="let system of systemsUsed.controls; let i = index" [formGroupName]="i">
              <!-- System Title and Detail Inputs -->
              <div class="row">
                <div class="col-sm-6 title_field">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <input type="text" matInput formControlName="title" name="title"
                           placeholder="Title" [value]="system.value.title">
                  </mat-form-field>
                </div>
                <div class="col-sm-5 title_field">
                  <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                    <input type="text" matInput formControlName="detail" name="detail"
                           placeholder="Detail" [value]="system.value.detail">
                  </mat-form-field>
                </div>
                <div class="col-sm-1">
                  <button type="button" (click)="removeSystemUsed(i)" class="btn">
                    <span class="plus-minus-button">-</span>
                  </button>
                </div>
              </div>
              <!-- Remove Button -->
              <div class="row">
                <div class="col-sm-12">
                  
                </div>
              </div>
            </div>
          </div>
          <!-- Add System Used Button -->
          <button type="button" (click)="addSystemUsed()" class="btn btn-primary mt-2">Add</button>
        </div>


                <!-- Additional Details Section -->
                <div class="mb-3">
                  <label class="form-label">Additional Details:</label>
                  <div formArrayName="additional_details">
                    <div *ngFor="let add_detail of additionalDetails.controls; let i = index" [formGroupName]="i">
                      <!-- System Title and Detail Inputs -->
                      <div class="row">
                        <div class="col-sm-6 title_field">
                          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                            <input type="text" matInput formControlName="super_title" name="super_title"
                                   placeholder="Super Title" [value]="add_detail.value.super_title">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 title_field">
                          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                            <input type="text" matInput formControlName="super_description" name="super_description" placeholder="Super Description" [value]="add_detail.value.super_description">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 title_field">
                          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                            <input type="text" matInput formControlName="title" name="title"
                                   placeholder="Title" [value]="add_detail.value.title">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 title_field">
                          <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
                            <input type="text" matInput formControlName="detail" name="detail"
                                   placeholder="Detail" [value]="add_detail.value.detail">
                          </mat-form-field>
                        </div>
                        <div class="col-sm-6 title_field">
                          <div class="mb-3">
                            <mat-form-field appearance="outline" style="width: 100%;">
                              <mat-label>Sub Type</mat-label>
                              <mat-select formControlName="type_detail" name="type_detail">
                                <mat-option *ngFor="let content_t of content_types" [value]="content_t.value">
                                  {{ content_t.label }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-sm-1">
                          <button type="button" (click)="removeAdditionalDetails(i)" class="btn">
                            <span class="plus-minus-button">-</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Add System Used Button -->
                  <button type="button" (click)="addAdditionalDetails()" class="btn btn-primary mt-2">Add</button>
                </div>
        <!-- Short Description -->
        <div class="mb-3 title_field">
          <label class="form-label">Short Description:</label>
          <ngx-editor-menu [editor]="neweditor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor [editor]="neweditor" formControlName="short_description"></ngx-editor>
        </div>

        <!-- Description -->
        <div class="mb-3 title_field">
          <label class="form-label">Description:</label>
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="description"></ngx-editor>
        </div>
      </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial type="submit">Submit</button>
</mat-dialog-actions>
</form>