<footer class="footer_sect">
    <div class="container new_container">
        <div class="row">
            <div class="col-lg-3">
                  <div class="footer_logo">
                      <img src="assets/infercon-logo.jpg" alt="">
                  </div>
               
            </div>
            <div class="col-lg-9">
                <div class="quick_links">
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <h3>Services</h3>
                            <ul>
                                <li><a class="nav-link" href="#">Staffing services</a></li>
                                <li><a class="nav-link" href="#">IIOT</a></li>
                                <li><a class="nav-link" href="#">LOD</a></li>
                                <li><a class="nav-link" href="#">Industrial automation</a></li>
                                <li><a class="nav-link" href="#">Process Automation</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6">
                            <h3>Quick links</h3>
                            <ul>
                                <li><a class="nav-link" href="#">About</a></li>
                                <li><a class="nav-link" href="#">Classroom</a></li>
                                <li><a class="nav-link" href="#">Online</a></li>
                                <li><a class="nav-link" href="#">Career</a></li>
                                <li><a class="nav-link" href="#">Contact</a></li>
                                <li><a class="nav-link" href="#">Services</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h3>Address</h3>
                            <p>11/8, 13th street, jai nagar, Arumbakkam, ch-600105</p>
                            <div class="address_cont">
                              
                              <button class="second_child" (click)="openDialog()"> <img src="assets/meeting_icon.png" alt=""> Book a meeting</button>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_sect text-center">
            <p>Copyright © 2023 infercon. All rights reserved | Terms of Service | Privacy Policy</p>
        </div>
    </div>
  </footer>
  