<footer class="footer_sect">
    <div class="container new_container">
        <div class="row">
            <div class="col-lg-3">
                  <div class="footer_logo">
                      <img src="assets/infercon-logo.jpg" alt="">
                  </div>
               
            </div>
            <div class="col-lg-9">
                <div class="quick_links">
                    <div class="row">
                        <div class="col-lg-4 col-6">
                            <h3>Trainings</h3>
                            <ul>
                                <li><a class="nav-link" routerLink="/app-training-detail/plc-training-in-chennai">PLC Training</a></li>
                                <li><a class="nav-link" routerLink="/app-training-detail/siemens-plc-training">Siemens PLC Training</a></li>
                                <li><a class="nav-link" routerLink="/app-training-detail/emerson-dcs-training">Emerson DCS Training</a></li>
                                <li><a class="nav-link" routerLink="app-training-detail/abb-dcs-training">ABB DCS Training</a></li>
                                <li><a class="nav-link" routerLink="/app-training-detail/siemens-dcs-training">Siemens DCS Training</a></li>
                                <li><a class="nav-link" routerLink="/app-training-detail/honeywell-dcs-training">Honeywell DCS Training</a></li>
                                <li><a class="nav-link" routerLink="/app-training-detail/diplamo-in-automation-engineering">Diploma</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6">
                            <h3>Quick links</h3>
                            <ul>
                                <li><a class="nav-link" routerLink="/services">Services</a></li>
                                <li><a class="nav-link" routerLink="/training">Trainings</a></li>
                                <li><a class="nav-link" routerLink="/registration">Registration</a></li>
                                <li><a class="nav-link" routerLink="/career">Career</a></li>
                                <li><a class="nav-link" routerLink="/contact">Contact</a></li>
                                <li><a class="nav-link" routerLink="/blog">Blog</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h3>Address</h3>
                            <p>11/8, 13th street, jai nagar, Arumbakkam, ch-600105</p>
                            <div class="address_cont">
                              
                              <button class="second_child" (click)="openDialog()"> <img src="assets/meeting_icon.png" alt=""> Book a meeting</button>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_sect text-center">
            <p>Copyright © 2023 infercon. All rights reserved |<a routerLink="/app-terms-conditions"> Terms of Service</a> |<a routerLink="/app-privacy-policy">Privacy Policy</a> </p>
        </div>
    </div>
  </footer>
  