<div class="container mt-1">
    <div class="row">
    
      
      <div class="search">
        <div class="title_field_card">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. CAE" [(ngModel)]="searchTerm">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
              <input matEndDate placeholder="End date" [(ngModel)]="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
          <button class="btn" (click)="search()">Search</button>
         
        </div>
        
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-img-container">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '286px','border-radius': '0',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '210px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-img-container">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '286px','border-radius': '0',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '210px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-img-container">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '286px','border-radius': '0',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '210px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-img-container">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '286px','border-radius': '0',height: '175px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '267px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '210px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngFor="let item of filteredTrainings">
        <div class="card mb-3">
          <div class="card-img-container">
            <img src="{{ item.image }}" alt="Card image" class="card-img">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p [innerHTML]="item.short_description"></p>
          </div>
          <div class="button_sect">
            <button *ngIf="contentLoaded" class="btn btn-primary" mat-raised-button (click)="openDialog(item._id)">Edit Training</button>
            <button class="btn btn-primary" mat-raised-button (click)="deleteTraining(item._id)">Delete</button>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  