/*banner content*/
.banner_section {
    background-image: url('/assets/background_two.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 40vh;
}
.banner_cont {
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    /* border-radius: 25px; */
}
.new_container {
    max-width: 1250px;
}

/* project sect */
.project_sect {
    padding: 30px;
}
.left_image img {
    margin-top: 150px;
    padding: 20px;
    width: 100%;
}
.head_with_image img{
    width: 100%;
    max-width: 50px;
    padding: 10px 20px 20px 0px;
}
.head_with_image {
    display: flex;
    flex-direction: row;
    
}
.head_with_image h6{
    padding: 10px;
}
.right_content p{
    padding: 0px 0px 0px 60px;
}
.right_content h5 {
    background-color: #FFCC4A;
    color: #000;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 30px;
}