<section class="login_sect vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- Login Form (Left Side) -->
      <div class="col-md-8 col-lg-6 col-xl-4 form-column">
        <form (keydown)="onKeyPress($event)">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Login</p>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" [(ngModel)]="username" name="username" id="form3Example3"
              class="form-control form-control-lg"
              placeholder="username" />
            <!-- <label class="form-label" for="form3Example3">Username</label> -->
          </div>
          <!-- Password input -->
<!-- Password input -->
<div class="form-outline mb-3 position-relative">
  <input
    [type]="showPassword ? 'text' : 'password'"
    [(ngModel)]="password"
    name="password"
    id="form3Example4"
    class="form-control form-control-lg"
    placeholder=" password"
  />
  <!-- <label class="form-label" for="form3Example4">Password</label> -->
  <!-- Eye toggle button -->
  <button
    type="button"
    (click)="togglePassword()"
    class="btn position-absolute eye-btn"
  >
    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
  </button>
</div>

          <!-- <div class="d-flex justify-content-between align-items-center mb-3">
            <a href="#!" class="text-body">Forgot password?</a>
          </div> -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" (click)="onLogin()" class="btn btn-primary btn-lg w-100">
              Login
            </button>
          </div>
        </form>
      </div>
<div class="col-md-6 col-lg-6 col-xl-6 p-0">
  <img src="/assets/industrial.png" class="login-img" alt="Login image">
</div>
    </div>
  </div>
</section>

