.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.nav_section {
    display: none;
}
.login_sect {
    margin-top: 30px;
}
.login_sect img {
    border-radius: 30px;
    box-shadow: 1px 1px 7px #000;
}