/*banner content*/
.banner_section {
    background-image: url('/assets/oil-and-gas.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 30vh;
}
.banner_cont {
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    /* border-radius: 25px; */
}
.new_container {
    max-width: 1250px;
}
.banner_section h5 {
    background-color: #FFCC4A;
    color: #000;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 30px;
}