/*banner content*/
.banner_section {
    background-image: url('/assets/background_services.png');
    padding: 20px;
    height: 30vh;
}
.banner_cont {
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    /* border-radius: 25px; */
}
.new_container {
    max-width: 1250px;
}
.training_cont img {
    width: 100%;
    
}
.training_cont{
  padding: 20px;
}

.training_details_sect {
    padding: 30px;
}
.training_img {
    width: 100%;
    height: 100%;
}
.training_img img {
    padding: 20px 0px;
    /* border-radius: 25px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-card {
    margin-top: 10px;
}

