/*banner content*/
.banner_section {
    background-image: url('/assets/background_services.png');
    padding: 20px;
    height: 30vh;
}
.banner_cont {
    margin-top: 15px;
    padding: 30px;
    background-color: #fff;
    /* border-radius: 25px; */
}
.new_container {
    max-width: 1250px;
}
.training_cont{
  padding: 20px;
}

.training_details_sect {
    padding: 30px;
}
.training_img img {
    /* border-radius: 25px; */
    height: 500px;
    object-fit: cover;
    width: 100%;
}

.event-card {
    margin-top: 10px;
}

.training_title h4 {
    font-weight: 500;
    line-height: 2;
}

.training_content p {
    line-height: 2;
}

.system_list {
    padding: 10px;
    box-shadow: 0px 1px 5px 3px #e9e7e7;
}

.training_details_list {
    padding: 20px;
    background-color: #e9e7e7;
    height: 207px;
    margin-bottom: 20px;
}

.training_details_list_new {
padding: 20px;
background-color: #575ab9;
display: flex;
justify-content: center;
align-items: center;
height: 207px;
margin-bottom: 20px;

}
.training_details_lis {
    padding: 20px;
    background-color: #575ab9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
    }

.training_details_lis h2 {
    font-weight: 900;
    color: #fff;
}
.training_details_list_new h2 {
    font-weight: 900;
    color: #fff;
}
.training_heading h2 {
    background-color: #575ab9;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    /* border-radius: 30px; */
  }
  .training_details_sect .second_child {
    box-shadow: 0px 0px 5px 0px #000;
    text-decoration: none;
    color: #fff;
    background: #575ab9;
    padding: 20px;
    margin-right: 8px;
    border-radius: 0;
    border: none;
    font-size: 15px;
    font-weight: 800;
}