tbody  button {
    background: none;
    color: #000;
    padding: 8px;
    border: 2px solid #000;
}
tbody button:hover {
    background: rgb(58, 167, 244);
    border: 2px solid rgb(58, 167, 244);
    color: #fff;
}