<div class="container mt-1">
    <div class="row">
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '250px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '250px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '250px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="!contentLoaded">
        <div class="card mb-3">
          <div class="card-body">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '0',height: '25px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
              
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '283px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '250px','border-radius': '5px',height: '15px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
          <div class="button_sect">
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{ width: '150px','border-radius': '10px',height: '40px','margin-bottom': '10px', background: '#e0e0e0'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    <div class="col-md-3" *ngFor="let item of generaldata">
        <div class="card mb-3">
          <div class="card-body">
              
              <h5 *ngIf="contentLoaded" class="card-title">{{ item.job_title }}</h5>
              <div *ngIf="contentLoaded" [innerHTML]="item.job_description"></div>
              <!-- <p class="card-text" *ngIf="contentLoaded">{{ item.description }}</p> -->
          </div>
          <div class="button_sect">
            <button *ngIf="showButton && contentLoaded" class="btn btn-primary" mat-button (click)="openDialog(item._id)">Edit Placement</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  